<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<h1 th:text="${title}"></h1>

<p th:unless="${events} and ${events.size()}" style="color:red">No event!</p>

<p th:text="${love}"></p>
<p th:text="${isTrue}"></p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Contact Email</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="event : ${events}">
            <td th:text="${event.id}"></td>
            <td th:text="${event.name}"></td>
<!-- Because we have @override the toString method in event.class    -->
<!-- here we can  use th:text="${event}"    -->
            <td th:text="${event.description}"></td>
            <td th:text="${event.contactEmail}"></td>
        </tr>
    </tbody>
</table>
</body>

</html>