<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1>All Events</h1>
<nav th:replace="fragments :: navigation"></nav>
<p th:unless="${events} and ${events.size()}" style="color:red">No event!</p>

<p th:text="${love}"></p>
<p th:text="${isTrue}"></p>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
<!--    <tr th:each="item : ${events-hashmap}">-->
        <td th:text="${events-hashmap}"></td>
<!--        <td th:text="${item.getkey()}"></td>-->
<!--        <td th:text="${item.getvalue()}"></td>-->
<!--    </tr>-->
    </tbody>
</table>
</body>
</html>